@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .-err{
        border: 1px solid red;
    }


    p{
        margin-top: 1em;
        font-size: 16px;
        @apply text-base10
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size:1.5rem;
    
        @apply text-base10 mb-0
    }

    .-titulo{
        @apply bg-base10 text-base60 text-right p-4 font-montserrat text-xl mt-2
    }

    .-titulo p{
        @apply text-base60
    }

    .-breadcrumb{
        @apply  border-t border-b border-base10 pl-4
    }

    .-copy{
        font-size:12px;
        color: white;
    }

    .-lista{
        margin-left:4rem;
        list-style-type: disc;
        list-style-position: outside; 
    }

    .-lista li{
        margin-top:1.5rem;
    }

      .-lista li p{
        margin-top:0rem;
    }




    .wrapper {
        @apply w-[90%] mx-auto overflow-hidden ;
    }

    .button {
        @apply bg-bright-red text-vary-light-gray block w-max py-4 px-12 rounded-full;
    }

    .-lideres-button{
        border: 1px solid #AA8E1E;
        color: #AA8E1E;
        background-color: #4F420E;
        font-size: 12px;

    }
    
    .-razas{
        font-size: 48px;
    }

    .-centrado{
        @apply  lg:w-4/5  md:w-3/4  sm:w-full
    }


    

    .slider{
        @apply grid;
        grid-template-areas: "slide";
    }

    .slider-childs{
        @apply before:absolute before:inset-0 before:bg-gradient-to-b from-transparent to-black;
        grid-area: slide;
        transition: .01s clip-path .6s;
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }

    [data-active]{
        order: 1;
        transition: .6s clip-path;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .slider-prev{
        grid-area: slide;
        @apply z-[100] self-center justify-self-start;
    }

    .slider-next{
        grid-area: slide;
        @apply z-[100] self-center justify-self-end;
    }

}

/*
 |--------------------------------------------------------------------------
 | Nav Bar
 |--------------------------------------------------------------------------
 |
 | 
 |
 */

.-nav-button{
    @apply  text-base10 px-4 rounded focus:outline-none hover:text-white hover:bg-base10;
}

.-ver-mas{
    @apply text-2xl bg-base30 hover:bg-base10 text-white py-2 px-4 m-4 rounded shadow-base10/50;
}
.-titulo{
    @apply text-orange-500;
}



